<div class="container p-4">
    <div class="row col-md-4 mx-auto">
        <div class="card text-center">
            <div class="card-header">
                <h3>cerar nuevo registro</h3>
            </div>
            <div class="card-body">
                <form action="/add" method="post">
                    <div class="input-group mt-2">
                        <label for="name" class="input-group-text" >Nombre</label>
                        <input class="form-control" type="text" name="nombre" id="nombre" placeholder="ejemplo: Juan Perez" autofocus required>
                    </div>
                    <div class="input-group mt-2">
                        <label for="correo" class="input-group-text" >Correo</label>
                        <input class="form-control" type="e-mail" name="correo" id="correo" placeholder="ejemplo: micorreo@mail.com" required>
                    </div>
                    {{!-- <div class="input-group mt-2">
                        <label for="age" class="input-group-text" >Edad</label>
                        <input class="form-control" type="number" name="age" id="age" required>
                    </div> --}}
                    <div class="from-group mt-4 d-grid gap-2">
                        <button class="btn btn-success">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
