<div class="container p-4">
    <div class="row col-md-4 mx-auto">
        <div class="card text-center">
            <div class="card-header">
                <h3>Editar registro</h3>
            </div>
            <div class="card-body">
                <form action="/edit/{{persona.id}}" method="post">
                    <div class="input-group mt-2">
                        <label for="nombre" class="input-group-text" >Nombre</label>
                        <input class="form-control" type="text" name="nombre" id="nombre" value="{{persona.nombre}}" autofocus required>
                    </div>
                    <div class="input-group mt-2">
                        <label for="lastname" class="input-group-text" >Apelldio</label>
                        <input class="form-control" type="text" name="correo" id="coreo" value="{{persona.correo}}" required>
                    </div>
                    {{!-- <div class="input-group mt-2">
                        <label for="age" class="input-group-text" >Edad</label>
                        <input class="form-control" type="number" name="age" id="age" value="{{persona.age}}" required>
                    </div> --}}
                    <div class="from-group mt-4 d-grid gap-2">
                        <button class="btn btn-success"><i class="fa-regular fa-circle-check"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
